.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.6em;
  font-size: 1.2rem;
  border: 0.23em solid hsl(var(--muted) / 0.8);
  padding: 0.6em;
  border-radius: calc(var(--_radius) * 2);
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  position: relative;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: #363255;
}

.task-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task:hover {
  border-color: hsl(var(--accent));
  box-shadow: 2px 5px 10px hsl(var(--accent) / 0.5);
}

.task-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  --taskgroup-gap: .25em;
  gap: var(--taskgroup-gap);
  width: 100%;
}

.tag-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0%;
}

.button-group {
  position: absolute;
  top: 15px;
  right: 10px;
  display: flex;
  gap: 12px;
  opacity: 0;
}

.task:hover .button-group {
  opacity: 1;
}

.task:hover .timer-info {
  opacity: 0;
}

.edit-form {
  position: absolute;
}

.label {
  position: relative;
  cursor: pointer;
  text-align: left;
  line-height: 2;
  flex-grow: 1;
  display: flex; 
  align-items: flex-start;
}

.task:hover .label .timerDisplay {
  display: none;
}

.checkbox {
  flex-shrink: 0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: var(--_radius);
  width: 1em;
  height: 1em;
  background-color: hsl(var(--muted));
  border-radius: var(--_radius);
  box-shadow:
    0 0 .5em hsl(var(--accent) / .1),
    0 0 0 0.05em hsl(var(--accent) / .5),
    0 0 0 -0.2em hsl(var(--accent));
  transition: box-shadow var(--_tspeed_fast) ease-in-out,
    background-color 80ms ease-in-out;
}

.checkbox:focus {
  outline: none;
}

.checkmark {
  content: '';
  position: absolute;
  display: flex;
  align-items: center;
  width: 1em;
  height: 1em;
  display: grid;
  place-items: center;
  top: 50%;
  color: hsl(var(--muted));
  border-radius: var(--_radius);
  transform: translate3d(calc(-100% - var(--taskgroup-gap)), -50%, 0);
  transition: background-color 80ms ease-in-out;
}

.checkmark svg {
  width: .75em;
  height: .75em;
}

.checkbox:checked {
  background-color: hsl(var(--accent));
}

.checkbox:checked+label {
  text-decoration: line-through;
}

.delete {
  --accent: var(--accent1);
}

.loading {
  color: hsl(var(--accent));
  font-size: var(--_size);
  font-weight: bold;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.error {
  color: hsl(var(--accent1));
  font-size: var(--_size);
  text-align: center;
}

.timer-info {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.timer {
  margin-top: 10px; 
}

.timerInput {
  width: 100px;
}

.timerContainer {
  display: flex;
  align-items: center;
  margin-top: 3px; 
  width: 100%;
  position: relative;
}

.timerBar {
  flex-grow: 1;
  height: 0.75rem;
  background-color: lightgray;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 500;
}

.timerFill {
  height: 100%;
  background-color: rgb(56, 181, 206);
  transition: width 0.5s linear;
  width: 0%; 
}

.timerDisplay {
  margin-left: 10px;
  font-size: 1.25rem;
}

.tag {
  position: relative;
  display: flex;
  align-items: center;
  background-color: hsl(var(--accent));
  border-radius: 4px;
  margin-right: 7px;
  margin-top: 3px;
  display: inline-block;
}

.tag .close-button {
  display: none;
  margin-left: 2px;
}

.tag:hover .close-button {
  display: inline-block;
}

.tag-priority-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    --taskgroup-gap: .25em;
    gap: var(--taskgroup-gap);
    width: 100%;
    margin-top: 2px;
}

.priority-info {
  display: flex;
  align-items: center;
  margin-left: 200px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.priorityIcon {
  color: white;
}

.priorityNumber {
  font-size: 12px;
  color: white;
  margin-left: 3px;
}

.task:hover .priority-info {
  opacity: 1;
}