@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
}

input, label {
  font: inherit;
}

:root {
  --_hue: 245;
  --_size: 1.8rem;
  --_radius: 0.2em;
  --_tspeed_fast: 180ms;
  --_tspeed_slow: 300ms;
  --_ttype_squish: cubic-bezier(0.86, -0.1, 0.27, 1.15);

  /* Light Mode */
  --bg--light: var(--_hue) 30% 94%;
  --txt--light: var(--_hue) 40% 5%;
  --accent--light: var(--_hue) 55% 50%;
  --accent1--light: 10 80% 60%;
  --muted--light: var(--_hue) 30% 99%;

  /* Dark Mode */
  --bg--dark: var(--_hue) 35% 28%;
  --txt--dark: var(--_hue) 30% 88%;
  --accent--dark: var(--_hue) 30% 55%;
  --accent1--dark: 10 50% 85%;
  --muted--dark: var(--_hue) 20% 4%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg--dark);
    --txt: var(--txt--dark);
    --accent: var(--accent--dark);
    --accent1: var(--accent1--dark);
    --muted: var(--muted--dark);
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--bg--light);
    --txt: var(--txt--light);
    --accent: var(--accent--light);
    --accent1: var(--accent1--light);
    --muted: var(--muted--light);
    color-scheme: light;
  }
}

[color-scheme="dark"] {
  --bg: var(--bg--dark);
  --txt: var(--txt--dark);
  --accent: var(--accent--dark);
  --accent1: var(--accent1--dark);
  --muted: var(--muted--dark);
  color-scheme: dark;
}

[color-scheme="light"] {
  --bg: var(--bg--light);
  --txt: var(--txt--light);
  --accent: var(--accent--light);
  --accent1: var(--accent1--light);
  --muted: var(--muted--light);
  color-scheme: light;
}

@media screen and (max-width: 1920px) {
  .container {
    padding: 2rem;
  }

  .dialog-panel {
    max-width: 30rem; 
    max-height: 30rem;
  }
}

@media screen and (max-width: 1366px) {
  .container {
    padding: 1.5rem;
    grid-template-columns: 1fr;
  }

  .dialog-panel {
    max-width: 25rem; 
    max-width: 25rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 1rem;
    grid-template-columns: 1fr;
  }

  .dialog-panel {
    max-width: 20rem; 
    max-height: 20rem;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --_size: 1.3rem;
  }

  .container {
    padding: 0.5rem;
    grid-template-columns: 1fr;
  }

  .dialog-panel {
    max-width: 15rem; 
    max-height: 15rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 5rem;
    grid-template-columns: 1fr;
  }

  .btn {
    padding: 0.4em;
    font-size: 0.9rem;
  }

  .todo {
    font-size: 1rem;
  }

  .label {
    font-size: 0.6em;
  }

  .dialog-panel {
    max-width: 10rem; 
    max-height: 10rem;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding: 5rem;
    grid-template-columns: 1fr;
  }

  .btn {
    padding: 0.4em;
    font-size: 0.9rem;
  }

  .todo {
    font-size: 1rem;
  }

  .label {
    font-size: 0.6em;
  }

  .dialog-panel {
    max-width: 10rem;
    max-height: 10rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --_tspeed_slow: 50ms;
    --_tspeed_fast: 50ms;
  }
}

body {
  min-height: 100vh;
  display: grid;
  justify-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: hsl(var(--bg));
  color: hsl(var(--txt));
}

::selection {
  background: hsl(var(--accent) / 0.8);
  color: hsl(var(--bg));
}

h1 {
  font-size: calc(var(--_size) * 1.3);
  text-align: center;
}

.container {
  width: 100%;
  max-width: 100%; 
  margin: 4vmax auto 6em; 
  display: grid;
  gap: clamp(2rem, 3.5vmax, 8rem);
  text-align: center;
}

hr {
  border: 0;
  height: 0.4em;
  background-color: hsl(var(--accent) / 0.5);
  border-radius: var(--_radius);
}

.btn {
  max-width: fit-content;
  display: flex;
  place-items: center;
  gap: 0.5em;
  background-color: hsl(var(--accent));
  color: hsl(var(--bg));
  text-decoration: none;
  padding: 0.25em;
  border-radius: var(--_radius);
  box-shadow: 0.05em 0.1em 0.9em hsl(var(--accent) / 0.3),
    0 0 0 -0.1em hsl(var(--bg)), 0 0 0 -0.2em hsl(var(--accent));
  transition: box-shadow var(--_tspeed_fast) var(--_ttype_squish),
    background-color var(--_tspeed_fast) var(--_ttype_squish);
}

.btn :where(svg, img, span) {
  pointer-events: none;
}

.btn :where(svg, img) {
  width: var(--_size);
  height: var(--_size);
}

.btn:where(:active, :hover) {
  background-color: hsl(var(--accent) / 0.7);
  box-shadow: 0 0 0 hsl(var(--accent) / 0.3), 0 0 0 -0.1em hsl(var(--bg)),
    0 0 0 -0.2em hsl(var(--accent));
}

.btn:focus {
  outline: none;
}

.btn:focus-visible {
  box-shadow: 0 0 0 hsl(var(--accent) / 0.3), 0 0 0 0.2em hsl(var(--bg)),
    0 0 0 0.4em hsl(var(--accent) / 0.7);
}

.todo {
  display: flex;
  gap: 0.5em;
  font-size: var(--_size);
  text-align: left;
}

.wrapper {
  flex: 1 1 100%;
  position: relative;
  display: grid;
  gap: 0.2em;
}

.label {
  text-transform: uppercase;
  font-size: 0.7em;
  pointer-events: none;
  letter-spacing: 0.05em;
  margin-inline: 0.45em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.1em 0.35em;
  background-color: hsl(var(--muted));
  transition: transform var(--_tspeed_fast) var(--_ttype_squish),
    background-color var(--_tspeed_fast) var(--_ttype_squish);
}

.input {
  border: none;
  border-radius: var(--_radius);
  padding: 0.35em 0.55em;
  width: 100%;
  background-color: hsl(var(--muted));
  caret-color: hsl(var(--accent));
  box-shadow: 0 0 0 -0.1em hsl(var(--bg)), 0 0 0 -0.2em hsl(var(--accent) / 0.8);
  transition: box-shadow var(--_tspeed_fast) var(--_ttype_squish);
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2em hsl(var(--bg)), 0 0 0 0.4em hsl(var(--accent) / 0.8);
}

.input:focus~.label,
.input:not(:placeholder-shown)~.label {
  transform: translate3d(0, -3em, 0);
  background-color: hsl(var(--bg));
  color: hsl(var(--accent) / 0.8);
}

.input::placeholder {
  opacity: 0;
}

.text-xxs {
  font-size: 11px; 
  line-height: 0.75rem;
}

.bg-blue-500 {
  background-color: #25547B;
}
